@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@900&family=Roboto:wght@400;500&display=swap');

:root{
    --red: #ff5562;
    --black: #1b1b1b;
    --dark-gray: #2a2a2a;
}

body{
    background-color: var(--black) !important;
    color: #eee;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Archivo', sans-serif;
}

h1{
    color: #dc3545;
}

.bg-dark{
    background-color: var(--dark-gray) !important;
}

.navbar-brand{
    font-family: 'Archivo', sans-serif;
}

.nav-link, .navbar-brand, .footer{
    color: var(--red) !important;
}

.nav-link, .footer{
    font-weight: 500;
}

.nav-link{
    border-bottom: 2px solid transparent;
}

.nav-link.active{
    color: #ddd !important;
    border-color: #888;
}

.nav-link:hover{
    color: #fff !important;
    border-color: #666;
}

.nav-item:hover{
    background-color: #444;
}

.project-card{
    width: 18rem;
    height: 25rem;
}

.project-card .card-body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
